body{
  background-color: #D6DBDF;
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4{
  margin: 0;
}

#container{
  background-color: white;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#header{
  background-color: #34495E;
  padding: 20px;
  color: white;
  text-align: center;
  height: auto;
}

#content{
  padding: 10px;
}

#left{
  background-color: #D6DBDF;
  width: 280px;
  float: left;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #34495E;
}

#right{
  background-color: #D6DBDF;
  width: 640px;
  float: right;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #34495E;
}

#footer{
  clear: both;
  padding: 10px;
  background-color: #AEB6BF;
  color: white;
  font-size: 12px;
}

#video_tags{
  font-weight: bold;
  font-size: 16px;
  color: yellow;
}

#modules{
  display:block;
  width:100%;
  height:200px;
  display: flex;
}

#chart_edu{
  float: left;
}

#chart_pol{
  float: center;
}

.float-right {
  margin-right: auto;
}

/* .container * {
    padding: 10px;
} */
