<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Daniel's Insight App</title>

  <!-- link to online stylesheet, could also link to local css file -->
   <link rel="stylesheet" href="http://stash.compjour.org/assets/css/foundation.css">

</head>

<body>

  <body style="width: 1024px; margin: auto;">
    <div class="container">
      <h1>video sleuth</h1>
      <p> MVP for Insight Data Science Project, Daniel Zurek</p>

      <!-- text entry form, passes variable 'ytID' to app.py -->
      <form role="form" method='POST' action='/'>
        <div class="form-group">
          <input type="text" name="ytID" placeholder="Enter youtube ID" style="max-width: 300px;" autofocus required>
          </div>
          <button type="submit">Submit</button>
      </form>

      <br>
        {% for error in errors %}
      <h4>{{ error }}</h4>
      {% endfor %}
    </div>

    <div>
      <!-- block gets rendered if youtube_id variable is present -->
      {% if youtube_id %}
      <h4>Video of interest:</h4>
      <br>
      <!-- Python code goes in double curlies -->
      <iframe src= {{ "https://www.youtube.com/embed/" + youtube_id }} width="640" height="480" frameborder="0" allowfullscreen></iframe>
      {% endif %}
    </div>
    <br>
    <div>
      <!-- Again, here it writes variable 'result' to the page-->
      {% if topic_result %}
      <h4>Video classified as:</h4>
      <p>{{ topic_result }}</p>
      {% endif %}
    </div>

    <div>
      {% if partial_transcript %}
      <h4>Partial transcript:</h4>
      <p>{{ partial_transcript }}</p>
      {% endif %}
    </div>

    <div>
      {% if views %}
      <h4>Views:</h4>
      <p>{{ views }}</p>
      {% endif %}
    </div>

    <div>
      {% if t_sentiment %}
      <h4>Transcript sentiment:</h4>
      <p>score: {{ t_sentiment }}, magnitude: {{ t_magnitude_n }}</p>
      {% endif %}
    </div>

    <div>
      {% if c_sentiment %}
      <h4>Comments sentiment:</h4>
      <p>score: {{ c_sentiment }}, magnitude: {{ c_magnitude_n }}</p>
      {% endif %}
    </div>

    <div>
      {% if edu_result %}
      <h4>Educational vs Recreational:</h4>
      <p>{{ edu_result }}</p>
      {% endif %}
    </div>

    <div>
      {% if pol_result %}
      <h4>Politics: Left vs Right</h4>
      <p>{{ pol_result }}</p>
      {% endif %}
    </div>

  </body>

</html>
