<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
      <title>Video Digest</title>
       <link rel="stylesheet" type = "text/css" href="static/css/style.css" />

       <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
       <script type="text/javascript">
             google.charts.load('current', {'packages':['gauge']});
             google.charts.setOnLoadCallback(drawChart);

             function drawChart() {
               var tfidf_edu = {{ results['edu'] | safe }}
               var tfidf_pol = {{ results['pol'] | safe }}

               var data = google.visualization.arrayToDataTable([
                 ['Label', 'Value'],
                 ['edu vs fluff', {v: tfidf_edu, f: ''}],
                 ['left vs right', {v: tfidf_pol, f: ''}]
               ]);

               var options = {
                 width: 500, height: 200,
                 greenFrom: -100, greenTo: -80, greenColor: '#5495ff',
                 redFrom: 80, redTo: 100,
                 minorTicks: 5,
                 min: -100,
                 max: 100
               };

               var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

               chart.draw(data, options);
             }
        </script>

    </head>
          <body>
               <div id = "container">
                    <div id = "header">
                         <h1>video digest</h1>
                    </div>
                        <div id = "content">
                            <div id = "left">
                              Enter a YouTube URL to run a content analysis. <hr/>
                                <!-- text entry form, passes variable 'ytID' to app.py -->
                                <form role="form" method='POST' action='/'>
                                  <div class="form-group">
                                    <input type="text" name="ytID" placeholder="Enter youtube URL" style="max-width: 300px;" autofocus required>
                                  </div>
                                    <button type="submit">Submit</button>
                                </form>
                                <br>
                                  {% for error in errors %}
                                <h4>{{ error }}</h4>
                                {% endfor %}

                                <h4>Video topics classified as:</h4>
                                <div id = 'video_tags'>
                                  <!-- Again, here it writes variable 'result' to the page-->
                                  {% if results %}
                                      {% for topic in results['topics_found'] %}
                                        <p>{{ topic }}</p>
                                      {% endfor %}
                                  {% endif %}
                                </div> <hr/>

                                <div>
                                  <h4>Transcript sentiment:</h4>
                                  <p> Sign of scores indicates positive or negative sentiments expressed
                                      (Placeholder for figures)</p>
                                  {% if t_sentiment %}
                                  <p> score: {{ t_sentiment }}, magnitude: {{ t_magnitude_n }}</p>
                                  {% endif %}
                                </div> <hr/>

                                <div>
                                  <h4>Comments sentiment:</h4>
                                  {% if c_sentiment %}
                                  <p>score: {{ c_sentiment }}, magnitude: {{ c_magnitude_n }}</p>
                                  {% endif %}
                                </div> <hr/>

                                <div>
                                  <h4>Bad Words:</h4>
                                  {% if bw_result %}
                                  <p>{{ bw_result }}</p>
                                  {% endif %}
                                </div>

                            </div>
                            <div id = "right">
                                <div id = "video">
                                      <div>
                                        <!-- block gets rendered if youtube_id variable is present -->
                                        {% if youtube_id %}
                                        <!-- Python code goes in double curlies -->
                                        <iframe src= {{ "https://www.youtube.com/embed/" + youtube_id }}  frameborder="0" width="640px" height="360px"></iframe>
                                        {% endif %}

                                      </div> <hr/>

                                         <h4 align="center">Content Modules</h4>
                                        {% if youtube_id %}
                                        <!--Div that will hold the gauges-->
                                        <div id="chart_div" align='center'></div>
                                        <p weight = 'bold'>Add more modules!</p><hr/>
                                        {% endif %}

                                      <div>
                                        {% if partial_transcript %}
                                        <h4>Partial transcript:</h4>
                                        <p>{{ partial_transcript }}</p>
                                        {% endif %}
                                      </div>
                                </div>

                                <div id = "tfidf">
                                      <div>
                                        {% if edu_result %}
                                        <h4>Educational vs Recreational:</h4>
                                        <p>{{ edu_result }}</p>
                                        {% endif %}
                                      </div>

                                      <div>
                                        {% if pol_result %}
                                        <h4>Politics: Left vs Right</h4>
                                        <p>{{ pol_result }}</p>
                                        {% endif %}
                                      </div>

                                    </div>
                            </div>
                        </div>
                    <div id = "footer">
                        Insight Data Science Project, &copy; Daniel B. Zurek, 2018
                    </div>
               </div>
          </body>
</html>
