<!DOCTYPE html>
<html ng-app="ScoopTubeApp">

    <head>
      <title>ScoopTube</title>
       <link rel="stylesheet" type = "text/css" href="static/css/style.css" />


    </head>
          <body ng-controller="ScoopTubeController">
               <div id = "container">
                    <div id = "header">
                      <img src='static/ScoopTube-white-small.png'/>
                         <!-- <h1>video digest</h1> -->
                    </div>
                        <div id = "content">
                              (SKL 0.19.2) Enter a YouTube URL to run a content analysis. <hr/>
                                <!-- text entry form, passes variable 'ytID' to app.py -->
                                <form role="form" ng-submit="getResults()">
                                  <div class="form-group">
                                    <input type="text" ng-model="url" name="url" class="form-control" id="url-box" placeholder="Enter URL..." style="max-width: 300px;">
                                    <!-- <input type="text" name="ytID" placeholder="Enter youtube URL" style="max-width: 300px;" autofocus required> -->
                                  </div>
                                    {% raw %}
                                    <button type="submit" class="btn btn-primary"
                                    ng-disabled="loading">{{ submitButtonText }}</button>
                                    {% endraw %}
                                </form><br>

                                <div>
                                  <h2>Outcomes</h2>
                                  <br>


                                  <div id="results">

                                      <h4>Info vs Shallow outcome</h4>
                                       <p>Outcome is: {{ '{{outcomes["edu"]}}' }} <br> Negative is informational, positive shallow.</p>

                                       <h4>Political bias outcome</h4>
                                        <p>Outcome is: {{ '{{outcomes["pol"]}}' }} <br> Negative is left, positive right.</p><hr/>

                                  </div>

                                    {% raw %}
                                  <div>
                                    <h4>Bad Words</h4>
                                    <p>{{ outcomes['bw_result'] }}</p>
                                    {% endraw %}
                                  </div><hr/>

                                  <div>
                                    <h4>Audio transcript sentiment</h4>
                                    <p>Sentiment score: {{ '{{outcomes["t_sentiment"]}}' }}.</p>
                                    <h4>Comments sentiment</h4>
                                    <p>Sentiment score: {{ '{{outcomes["c_sentiment"]}}' }}.</p>
                                  </div> <hr/>


                        </div>
                    <div id = "footer">
                        Insight Data Science Project, &copy; Daniel B. Zurek, 2018
                    </div>
               </div>
               <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
               <script src="{{ url_for('static', filename='main.js') }}"></script>
          </body>
</html>
