<!DOCTYPE html>
<html ng-app="ScoopTubeApp">

    <head>
      <title>ScoopTube</title>
       <link rel="stylesheet" type = "text/css" href="static/css/style.css" />

    </head>
          <body ng-controller="ScoopTubeController">
               <div id = "container">

                    <div id = "header">
                      <img src='static/ScoopTube-white-small.png'/>
                    </div>

                        <div id = "content">
                          Enter YouTube URL to run content analysis. Will take about half as long as the video's length, unless analysis was previously run. <hr/>
                            <!-- text entry form, passes variable 'url' to app.py -->
                            <form role="form" ng-submit="getResults()">
                              <div class="form-group">
                                <input type="text" ng-model="url" name="url" class="form-control" id="url-box" placeholder="Enter YouTube URL..." style="max-width: 300px;">
                              </div>
                                {% raw %}
                                <button type="submit" class="btn btn-primary"
                                ng-disabled="loading">{{ submitButtonText }}</button>
                                {% endraw %}
                            </form>
                              <div class="alert alert-danger" role="alert" ng-show='urlerror'>
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                <span>There was an error submitting your URL.<br>
                                Please check to make sure it is valid before trying again.</span>
                              </div>
                            <br>

                            <!-- Show Pacman while background processes are loading -->
                            <img class="col-sm-3 col-sm-offset-4" src="{{ url_for('static',
filename='spinner.gif') }}" ng-show="loading">


                            <div id="results" ng-show="outcomes">
                                  <div id = "left">

                                            <!-- Shows outcomes only if $scope.outcomes is available  -->
                                            <h3> Video Title: {{ '{{outcomes["title"]}}' }}</h3><br><hr/>

                                              <h4>Topics found</h4>
                                              <p><strong style="color:blue;">{{ '{{outcomes["topics_found"]}}' }}</strong></p>

                                              <h4>Bad Words</h4>
                                              <p>{{ '{{outcomes["bw_result"]}}' }}</p><hr/>

                                          <h4>Partial transcript</h4>
                                          <p>{{ '{{outcomes["partial_transcript"]}}' }}
                                  </div>
                                  <div id = "right">
                                          {% raw %}
                                          <div style="text-align:center">
                                          <iframe width="560" height="315" ng-src="{{outcomes['youtube_url'] | trusted}}" frameborder="0"></iframe>
                                          {% endraw %}
                                          </div><br><hr/>

                                          <h4>Audio transcript vibe: {{ '{{outcomes["t_sentiment"] | number:2}}' }} <strong ng-if="outcomes.t_sentiment > -0.2 && outcomes.t_sentiment < 0.2" style="color:orange;"> (Neutral)</strong>
                                          <strong ng-if="outcomes.t_sentiment > 0.2 && outcomes.t_sentiment < 0.5" style="color:green;"> (Positive)</strong>
                                          <strong ng-if="outcomes.t_sentiment < -0.2 && outcomes.t_sentiment > -0.5" style="color:red;"> (Negative)</strong>
                                          <strong ng-if="outcomes.t_sentiment > 0.5" style="color:green;"> (Very positive)</strong>
                                          <strong ng-if="outcomes.t_sentiment < -0.5" style="color:red;"> (Very negative)</strong>
                                          </h4>
                                             <p>From -1 (most negative) to 1 (most positive).</p>

                                          <h4>Comment section vibe: {{ '{{outcomes["c_sentiment"] | number:2}}' }} <strong ng-if="outcomes.c_sentiment > -0.2 && outcomes.c_sentiment < 0.2" style="color:orange;"> (Neutral)</strong>
                                          <strong ng-if="outcomes.c_sentiment > 0.2 && outcomes.c_sentiment < 0.5" style="color:green;"> (Positive)</strong>
                                          <strong ng-if="outcomes.c_sentiment < -0.2 && outcomes.c_sentiment > -0.5" style="color:red;"> (Negative)</strong>
                                          <strong ng-if="outcomes.c_sentiment > 0.5" style="color:green;"> (Very positive)</strong>
                                          <strong ng-if="outcomes.c_sentiment < -0.5" style="color:red;"> (Very negative)</strong>
                                          </h4>
                                             <p>From -1 (most negative) to 1 (most positive).</p><hr/>

                                          <h4>"Seriousness": {{ '{{outcomes["edu"] | number:2}}' }} <strong ng-if="outcomes.edu > -0.7 && outcomes.edu < 0.7" style="color:orange;"> (Neutral)</strong>
                                          <strong ng-if="outcomes.edu > 0.7" style="color:green;"> (Likely educational)</strong>
                                          <strong ng-if="outcomes.edu < -0.7" style="color:red;"> (Likely shallow entertainment)</strong></h4>
                                             <p>From -1 (most certain to be shallow) to 1 (most certain to be educational).</p>

                                           <h4>Political bias: {{ '{{outcomes["pol"] | number:2}}' }} <strong ng-if="outcomes.pol > -0.7 && outcomes.pol < 0.7" style="color:orange;"> (Likely no political bias)</strong>
                                           <strong ng-if="outcomes.pol > 0.7" style="color:red;"> (Likely right-leaning)</strong>
                                           <strong ng-if="outcomes.pol < -0.7" style="color:blue;"> (Likely left-leaning)</strong></h4>
                                               <p>From -1 (most certain to be left-leaning) to 1 (most certain to be right-leaning).</p>

                                   </div>
                                </div>

                                      </div>
                                      <div id = "footer">
                                          Insight Data Science Project, &copy; Daniel B. Zurek, 2018
                                      </div>
                                 </div>

               <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
               <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
               <script src="{{ url_for('static', filename='main.js') }}"></script>
          </body>
</html>
